{% extends 'admin_template/base.html' %}
{% block title %} Manage Room {% endblock %}
{% load humanize %}
{% load static %}
{% block home_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">ROOM DETAILS</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                       placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                            <tr>
                                <th>Room Number</th>
                                <th>No of Beds</th>
                                <th>Avilable Beds</th>
                                <th>Coresponding Staff</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for room in rooms %}
                            <tr>
                                <td>{{ room.room_number }}</td>
                                <td>{{ room.room_capacity }}</td>
                                <td>{{ room.bed_avilable }}</td>
                                <td>{{ room.staff }}</td>
                                <td><a href="/edit_room/{{ room.room_number }}" class="btn btn-success">Edit</a>
                                    <a href="/delete_room/{{ room.room_number }}" class="btn btn-danger">Delete</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == 'success' %}
                                        <p class="messages alert alert-success" >{{ message }}</p>
                                    {% endif %}
                                    {% if message.tags == 'error' %}
                                        <p class="messages alert alert-danger" >{{ message }}</p>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock %}
