{% extends 'admin_template/base.html' %}
{% block title %} Notices {% endblock %}
{% load humanize %}
{% load static %}
{% block home_content %}
<section class="content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-header">
                      <h3 class="card-title">Notices DETAILS</h3>

                      <div class="card-tools">
                          <div class="input-group input-group-sm" style="width: 150px;">
                              <input type="text" name="table_search" class="form-control float-right"
                                     placeholder="Search">

                              <div class="input-group-append">
                                  <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body table-responsive p-0" style="height: 300px;">
                      <table class="table table-head-fixed text-nowrap">
                          <thead>
                          <tr>
                              <th>ID</th>
                              <th>Heading</th>
                              <th>Description</th>
                              <th>Notice Date</th>
                              <th>Action</th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for notice in notices %}
                          <tr>
                              <td>{{ notice.id }}</td>
                              <td>{{ notice.heading }}</td>
                              <td>{{ notice.description }}</td>
                              <td>{{ notice.notice_date }}</td>
                              <td><a href="/update_notice/{{ notice.id }}" class="btn btn-success">Edit</a>
                                   <a href="/delete_notice/{{ notice.id }}" class="btn btn-danger">Delete</a></td>
                              
                          </tr>
                          {% endfor %}
                          </tbody>
                      </table>
                  </div>
                  {% if messages %}
                      {% for message in messages %}
                          {% if message.tags == 'success' %}
                              <p class="messages alert alert-success" >{{ message }}</p>
                          {% endif %}
                          {% if message.tags == 'error' %}
                              <p class="messages alert alert-danger" >{{ message }}</p>
                          {% endif %}
                      {% endfor %}
                  {% endif %}
                  <!-- /.card-body -->
              </div>
              <!-- /.card -->
          </div>
      </div>
  </div><!-- /.container-fluid -->
</section>
{% endblock %}