{% extends 'admin_template/base.html' %}
{% block title %} View Attendence{% endblock %}
{% load humanize %}
{% load static %}
{% block home_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">View Attendence</h3>
                    </div>
                    <!-- /.card-header -->
                    <form action="{% url 'get_attendence' %}" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            
                            <div class="form-group">
                                <label>Room Number</label>
                                <select class="form-control" name="room_number" id="room_number">
                                    {% for room in rooms %}
                                        <option value="{{ room.room_number }}">{{ room.room_number }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label> Start Date </label>
                                        <input type="date" class="form-control" placeholder="Start Date" name="start_date" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label> End Date </label>
                                        <input type="date" class="form-control" placeholder="End Date" name="end_date" />
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-block" id="get_student">Get Attendence Data</button>
                            </div>
                            

                            <div id="student_data" class="card-footer">
                                
                            </div>


                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == 'success' %}
                                        <p class="messages alert alert-success" >{{ message }}</p>
                                    {% endif %}
                                    {% if message.tags == 'error' %}
                                        <p class="messages alert alert-danger" >{{ message }}</p>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock %}
