{% extends 'frontend/base.html' %}


{% block title %} Contact {% endblock title %}

{% block content %}

<h1>List of Teachers 
</h1>
<h3>Warden:</h3>
<p> <a href="juniv.edu/teachers/hossainmm" target="_blank" rel="noopener noreferrer">Md. Moyazzem Hossain</a>
    <a href="https://juniv.edu/teachers/ju_sabbir" target="_blank" rel="noopener noreferrer"> Dr. Md. Sabbir Alam</a>
</p>
<h3>House Tutors:</h3>
<p>
   
    <a href="http://" target="_blank" rel="noopener noreferrer">1. Md. Rubel</a>
    <a href="http://" target="_blank" rel="noopener noreferrer">2.Dr. Md. Mojibur Rahman</a>
</p>
<h3>Assistant House Tutors:</h3>
<p>
    <h1>List of Officers</h1>
    1. Shamsul Alam, Deputy Registrar, Mobile: 01740826596, Email: shamsul.mmh27@gmail.com

    2. M. A. Aziz, Assistant Registrar (LPR), Mobile: 01711637912, Email: aziz@juniv.edu

    3. Md. Zahirul Islam Khan, Administrative Officer (Finance), Mobile: 01734282825, Email:

    4. Md. Liakot Hossain, Administrative Officer, Mobile: 01748909812, Email: hossainliakotju@gmail.com
</p>
{% endblock content %}

