{% extends 'frontend/base.html' %}


{% block title %} Provost {% endblock title %}

{% block content %}

<div class="row">
    
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top img-fluid mx-auto d-block lazy"
                    data-src="https://juniv.edu/storage/image/teacher/480_jLM9hS4u.JPG" alt="Dr. Mohd. Muzibur Rahman">
                                                                            <div class="card-body">
                    <h6>
                        <a href="#">Dr. Mohd. Muzibur Rahman</a>
                        <br>
                        <small>
                            Professor, Department of Statistics </small>
                        </h6>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-9">
                <h3 id="profile">PROFILE</h3>
                
                <h6>SHORT BIOGRAPHY</h6>
                <p>N/A</p>
                
                
         <div>
             <h6 class="mt-3">RESEARCH INTEREST</h6>
             <p>Demography, Public Health, Epidemiology, Biostatistics.</p>
            </div>
            
        </div>
    
        {% endblock content %}
