{% extends 'frontend/base.html' %}


{% block title %} Student {% endblock title %}

{% block content %}

<div class="text-bg-dark p-3 ">Here,one can know about a student  in hall entry sheet.Such as...</div>
<br>
    <div> 
        <div>   
            <h6 class="text-bg-dark p-3">Here Some Student Portfolio link...... </h6>
        </div> 
                
        <div class="container">
                
            <ul>
                <li><p><a href="https://lively-stroopwafel-cd0ab2.netlify.app/" class="link-info">Tanzila portfolio</a></p></li>
                <li><p><a href="https://lively-stroopwafel-cd0ab2.netlify.app/" class="link-info">shifati portfolio</a></p></li>
                <li><p><a href="https://lively-stroopwafel-cd0ab2.netlify.app/" class="link-info">Monika portfolio</a></p></li>
            </ul>
        </div>
        
        {% endblock content %}